<div class="wrapper">
    <section class="" id="map-section">
        <div class="container">
            <div class="row">
                <div class="map-container">
                    <leaflet id="map" height="480" width="100%"></leaflet>
                    </br>
                    <form>
                        Latitude : <input type="number" step="any" ng-model="center.lat">
                        Longitude : <input type="number" step="any" ng-model="center.lng">
                        Zoom : <input type="number" step="any" ng-model="center.zoom">
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>