# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDE stuff
.tmp
.idea

# confs
/server/config/local.env.js
/server/config/local.env
ecosystem.json
client/js/analytics.js


# Generated libs
client/bower_components

#data files
client/data/*
geom/*


.DS_Store

.env
