/**
reset
 */

ol, ul {
    list-style: none;
}

/* Data-in.place styles*/
.powered-by {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.powered-by>img {
    max-height: 20px;
}


.layout.yours .layout-custom {
    background-color: transparent;
    text-align: center;
    font-size: 50px;
    line-height: 85px;
    opacity: .2;
    margin-right: .4em;
}

.layout.yours:hover .layout-custom {
}

.layout-custom {
    height: 12px;
    background-position: 50% 50%;
    background-size: 120%;
    background-color: #F5F5F5;
    opacity: .85;

    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;

}

.layout:hover .layout-custom {
    opacity: .3;
}

.layout.selected .layout-custom {
    opacity: .1;
}

.layout.disabled{
    pointer-events: none;
    opacity: .4;
}

/**
    Map Stuff
 */
.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.infowindow-list {
    position: relative;
    max-height: 200px;
    padding-top: 12px;
    padding-bottom: 18px;
    overflow: scroll;
}

.infowindow-list .infowindow-listItem {
    margin-right: 20px;
}

.infowindow-listItem:first-child {
    margin-top: 0;
}

.infowindow-subtitle {
    color: #636D72;
}

.infowindow-subtitle {
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
}

.infowindow-title {
    color: #2E3C43;
}

.infowindow-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}


/** Areas list */
.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

.limited-text{
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-content{
    background-color: #F5F5F5;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.6;
}