/* Data-in.place main styles */

/** Reset */

ol, ul {
    list-style: none;
}

/** Map styles **/
#map-section {
    padding: 80px 0px;
}

.map-container {
    min-height: 55px;
}

/** Leaflet loader **/
.leaflet-control-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -50px;
    height: 80px;
    width: 100px;
    border-radius: 10px;
    background: url('../imgs/leaflet-loader.gif') center center no-repeat rgba(255, 255, 255, 0.8);
    z-index: 99999999;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.6;
}

/**
Something wrong with the leaflet CSS
 */
.leaflet-marker-icon.leaflet-div-icon {
    margin-left: -5px !important;
    margin-top: -5px !important;
    width: 10px !important;
    height: 10px !important;
}

.infowindow-list {
    position: relative;
    max-height: 200px;
    padding-top: 12px;
    padding-bottom: 18px;
    overflow: scroll;
}

.infowindow-list .infowindow-listItem {
    margin-right: 20px;
}

.infowindow-listItem:first-child {
    margin-top: 0;
}

.infowindow-subtitle {
    color: #636D72;
}

.infowindow-subtitle {
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    text-transform: uppercase;
}

.infowindow-title {
    color: #2E3C43;
}

.infowindow-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

/** End Map Styles **/

/** RAWGraphs logo **/

.powered-by {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.powered-by > img {
    max-height: 20px;
}

/** End RAWGraphs logo **/

/** UI **/

.layout.yours .layout-custom {
    background-color: transparent;
    text-align: center;
    font-size: 50px;
    line-height: 85px;
    opacity: .2;
    margin-right: .4em;
}

.layout.yours:hover .layout-custom {
}

.layout-custom {
    height: 12px;
    background-position: 50% 50%;
    background-size: 120%;
    background-color: #F5F5F5;
    opacity: .85;

    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;

}

.layout:hover .layout-custom {
    opacity: .3;
}

.layout.selected .layout-custom {
    opacity: .1;
}

.outer-layout.disabled {
    pointer-events: none;
    opacity: .4;
}

/** End UI **/

/** Areas list **/
.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}

.limited-text {
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** End Areas list **/

/** Modal **/
.modal{
    z-index: 105000;
}
.modal-content {
    background-color: #F5F5F5;
}

.issue-drop-box {
    background: transparent;
    border: 3px dashed #DDD;
    text-align: center;
    padding: 0px;

    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;

    border-radius: 2px;

    cursor: pointer;
}

.consent {
    text-align: left;
}

.input-wrapper {
    padding: 10px 0px;
}

.input-wrapper input {
    border: 1px solid #cfcfcf;
    outline: 0;
    padding: 15px 10px;
    max-width: 100%;
    width: 260px
}

/** End Modal **/

/** Focus **/

.prompt input {
    width: 13.8em;
    border-bottom-width: 2px;
    transition: border-color .2s ease;
}

.prompt input {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 3px solid #fff;
    font-size: 1.4em;
    font-weight: 500;
    outline: 0;
    text-align: center;
}

/**  End Focus **/

/* Navigation */

.brand-green {
    color: #2DD8B1;
}

/* End Navigation */

/* ChallengeDisplay */

#challengeDisplay {
    height: 275px;
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 2px;
    font-family: Cousine, Menlo, Monaco, Courier, monospace;

    padding: 20px;

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}


.challengebox {
    margin-top: 60px;
}

.label {
    margin-left: 6px;
}

input[type="text"].ng-invalid.ng-touched,textarea.ng-invalid.ng-touched {
    border: 1px solid #FA7070;
}

.has-error{
    color: #FA7070;
}

/* End ChallengeDisplay */
